@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <h1 class="mb-4 larger_header">Welcome to DrMediScan</h1>
    <div>
        <a asp-action="ClinicChoose" asp-controller="BookAppointment" class="btn btn-primary mb-3">Book Appointment Now</a>
    </div>
</div>
    
<div class="section">
    <div class="subSection1">
        <h2>Find best Clinics</h2>
    </div>
    <div class="subSection2">
        <h2>Say Hi to our experts</h2>
    </div>
</div>
