@{
    ViewData["Title"] = "SuccessBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="alert alert-success">
        <h4>Success!</h4>
        <p>Your appointment has been successfully booked. A email with appointment details will be sent to you soon</p>
        <a href="/" class="btn btn-primary">Return Home</a>
    </div>
</div>

